header{

    ul{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    li{
        list-style: none;
        font-weight: bold;
    }

    a{
        text-decoration: none;
        color: black;
    }
    
    

}


body {
    font-family: "PT Sans", "Arial", sans-serif;
}